In [4]:
import pandas as pd
import numpy as np
from faker import Faker
import random

In [5]:
fake = Faker()
np.random.seed(42)
random.seed(42)

In [6]:
# Define possible values for categorical columns
nationalities = ['Australian', 'New Zealander', 'British', 'Indian']
occupations = ['Engineer', 'Teacher', 'Banker', 'Doctor', 'Artist']
fee_structures = ['Standard', 'Premium', 'Basic']
loyalty_classes = ['Gold', 'Silver', 'Platinum', 'Bronze']
risk_weights = ['Low', 'Medium', 'High']
genders = [1, 2]  # Assuming 1 = Male, 2 = Female

In [9]:
# Generate synthetic data
rows = []
for i in range(200):
    row = {
        "Client ID": f"C{i+1000}",
        "Name": fake.name(),
        "Age": random.randint(22, 65),
        "Location ID": random.randint(100, 999),
        "Joined Bank": fake.date_between(start_date='-10y', end_date='today').strftime('%d-%m-%Y'),
        "Banking Contact": fake.phone_number(),
        "Nationality": random.choice(nationalities),
        "Occupation": random.choice(occupations),
        "Fee Structure": random.choice(fee_structures),
        "Loyalty Classification": random.choice(loyalty_classes),
        "Estimated Income": round(random.uniform(30000, 500000), 2),
        "Superannuation Savings": round(random.uniform(10000, 300000), 2),
        "Amount of Credit Cards": random.randint(0, 5),
        "Credit Card Balance": round(random.uniform(0, 50000), 2),
        "Bank Loans": round(random.uniform(0, 200000), 2),
        "Bank Deposits": round(random.uniform(1000, 150000), 2),
        "Checking Accounts": round(random.uniform(0, 50000), 2),
        "Saving Accounts": round(random.uniform(0, 80000), 2),
        "Foreign Currency Account": round(random.uniform(0, 30000), 2),
        "Business Lending": round(random.uniform(0, 100000), 2),
        "Properties Owned": random.randint(0, 5),
        "Risk Weighting": random.choice(risk_weights),
        "BRId": random.randint(1, 5),
        "GenderId": random.choice(genders),
        "IAId": random.randint(100, 999)
    }
    rows.append(row)

In [12]:
df_synthetic = pd.DataFrame(rows)
df_synthetic.head()

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,C1000,Patrick Santiago,54,218,06-12-2022,+1-834-337-4095x491,Indian,Artist,Standard,Platinum,...,108195.07,37097.50,53650.28,10926.64,6997.38,5,Medium,5,2,779
1,C1001,Susan Hansen,29,837,30-04-2018,+1-687-854-0743x37900,British,Artist,Premium,Bronze,...,141114.19,33865.90,72224.44,18465.45,30094.99,4,Low,3,2,315
2,C1002,David Mcclain,49,904,18-09-2016,(591)997-2697x2377,British,Doctor,Premium,Bronze,...,77802.35,31647.04,26815.06,24552.70,75113.81,5,Medium,2,1,250
3,C1003,Kathryn Jimenez,23,147,22-09-2016,675-880-7847,New Zealander,Doctor,Basic,Gold,...,74662.20,12199.22,52484.64,166.34,75096.45,0,Medium,2,1,923
4,C1004,Joseph Sanchez,55,575,12-06-2023,255.799.1633,Australian,Artist,Standard,Gold,...,48277.40,37762.50,35405.87,24450.20,89202.03,3,High,4,1,861

In [13]:
df_synthetic.to_csv("sample_data.csv", index=False)